<configuration>

    <conversionRule conversionWord="traceToken" converterClass="kamon.trace.logging.LogbackTraceTokenConverter"/>
    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%traceToken] %coloredLevel - %logger - %message%n%xException</pattern>
        </encoder>
    </appender>

    <!-- Include logger specifications. -->
    <include file="${application.home}/conf/logback-spec.xml" />

    <root level="${root.level:-ERROR}">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>

